<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		{{{ body }}}
  </body>
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
  <script>
			const socket = io();
			
			socket.on('alert', function(message, status) {
				toastr[status](message)
			})
			
			socket.on('onlinechange', function(online) {
				$('.onlineusers').text(online);
			});
			
			$('.button').click(function() {
				socket.emit('alertme', {
					message: $('.input').val()
				})
			})
			
		</script>
</html>